ASSISTANT_HAS_OWN_NUMBER=
CLAUDE_CODE_MODEL=
ANTHROPIC_DEFAULT_HAIKU_MODEL=
ANTHROPIC_DEFAULT_SONNET_MODEL=
ANTHROPIC_DEFAULT_OPUS_MODEL=
PROMETHEUS_PORT=9464
PROMETHEUS_HOST=0.0.0.0
LOKI_URL=http://localhost:3100
GRAFANA_PORT=3000
